{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "browser": true
  },
  "extends": "airbnb-base",
  "rules": {
    "consistent-return": 1,
    "no-bitwise": 1,
    "no-cond-assign": 1,
    "no-confusing-arrow": [1, { "allowParens": true }],
    "no-param-reassign": 1,
    "no-plusplus": 1,
    "no-restricted-properties": 1,
    "no-underscore-dangle": 1,
    "no-useless-escape": 1,
    "prefer-destructuring": 1
  }
}