.homeContainer {
  height: calc(100vh - 50px);
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-affiliation {
  margin: 0 auto;
  font-size: 75%;
  line-height: normal;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .no-affiliation {
    width: 736px;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}